@charset "utf-8";
/* CSS Document */

body{
	font-family: Tahoma
}
label{
	color: #000000
}

#host-content{
/*	background-color: #24B110;*/
  min-height: 300px;
	height:auto;
  position:absolute;
  width: 100%
}
#guest-content{
/*	background-color: #24B110;*/
  min-height: 300px;
	height:auto;
  position:relative;
  width: 100%
}

.player-name, #display-id, #span-host-id{
/*	font-family: HP Simplified;*/
	font-size:16px;
	color: #000
}

#choosePlayer{
/*  visibility: hidden*/
}

.hide-content{
  visibility: hidden
}

.show-content{
  visibility: visible
}

.remove{
  display: none;
/*  visibility: hidden*/
}


.btn-gameplay{
  width: 90px
}

.go-red{
  	background-color: #ff0000
}