@charset "utf-8";
/* CSS Document */

body{
	background-color: #009900
}
label{
	color: #000000
}

.player-content{
	background-color: #24B110;
	height:200px;
  position:absolute;
  width: 100%;
  visibility: hidden
}
.player-name{
	font-family: HP Simplified;
	font-size:18px;
	color: #000
}

#choosePlayer{
/*  visibility: hidden*/
}

.hide-content{
  visibility: hidden
}

.show-content{
  visibility: visible
}
